header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .8rem 0;

    h1 {
        margin: 0;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: center;
        grid-column: 1 / 6;
    }

    #mobile-actions {
        align-self: center;
        justify-self: center;
    }

    #header-actions {
        display: none;
    }

    .popover {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: none;

        #header-actions {
            display: block;
        }

        #mobile-actions {
            display: none;
        }

        h1 {
            grid-column: 1 / 2;
        }

        nav {
            grid-column: 2 / 3;
            justify-content: start;
        }

        #header-actions {
            display: flex;
            grid-column: 3 / 4;
            align-items: center;
            justify-content: flex-end;

            button {
                margin-left: .5rem;
            }
        }
    }
}